Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"
RewriteEngine on

# Permitir acceso desde cualquier origen
Header set Access-Control-Allow-Origin "*"

# Permitir los métodos HTTP permitidos
Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"

# Permitir los encabezados especificados
Header set Access-Control-Allow-Headers "Content-Type"

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]